<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/zTreeStyle/zTreeStyle.css"></link>
    <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="/static/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/static/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/static/jquery.ztree.exhide.js"></script>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <script type="text/javascript">
        $(function(){
            $.ajax({
                // url:'menuAction!find4tree',/menuAction/find4tree
                url:'http://localhost:8080/menuAction/find4tree',
                dataType:'json',
                success:function(list){
                    var setting = {
                        data: {
                            simpleData: {
                                enable: true
                            }
                        },check:{enable:true}
                    };
                    $.fn.zTree.init($("#treeDiv"),setting,list);
                    var tree=$.fn.zTree.getZTreeObj("treeDiv");
                    tree.expandAll(true);
                }
            });
        });

      function mySubmit11(){
            $.ajax({
                // url:'menuAction!find4tree',/menuAction/find4tree 加个http://
                //Access to XMLHttpRequest at 'localhost:8080/menuAction/find4tree' from origin 'http://localhost:8080' has been blocked by CORS policy:
                // Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https.
                url:'http://localhost:8080/menuAction/find4tree',


            });
        };


        $(function(){
            var setting={
                check: {
                    enable: true,
                    chkStyle: "checkbox"//显示 checkbox 选择框，默认checkbox可选择值radio
                }
            };
            var zTreeNodes=[
                {"name":"北京","open":true,children:[
                        {"name":"东城区"},
                        {"name":"朝阳区"}
                    ]},//open:true表示默认展开
                {"name":"重庆","open":true,children:[
                        {"name":"巴南区",children:[
                                {"name":"南泉"},
                                {"name":"界石"}
                            ]},
                        {"name":"渝中区"}
                    ]}
            ];
            var city = $.fn.zTree.init($("#treeDiv"), setting, zTreeNodes);
//第一个参数为zTree的DOM容器，第二个为zTree设置详情可见官网api,第三个为zTree的节点数据
        });

    </script>
</head>
<body>
<table border="1">
    <tr>
        <td>ID</td>
        <td>name</td>
        <td>parent-id</td>
    </tr>

    <tr th:each="a:${a}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.name}"></td>
    </tr>
</table>
<h1>templates下面</h1>
<div id="treeDiv" class="ztree"></div>
<button onclick="mySubmit();">确定</button>
<button onclick="mySubmit11();">确定测试</button>
<form id="ff" action="/menuAction/select" method="post">
    <input type="hidden"  name="roleId" value="${param.roleId}"/>
</form>



</body>

</html>