<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/zTreeStyle/zTreeStyle.css"></link>
    <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
<h1>templates下面</h1>
<div id="treeDiv" class="ztree"></div>
<button onclick="mySubmit();">确定</button>
<form id="ff" action="/menuAction/select" method="post">
    <input type="hidden"  name="roleId" value="${param.roleId}"/>
</form>
<script type="text/javascript">
    $(function(){
        $.ajax({
            // url:'menuAction!find4tree',/menuAction/find4tree
            url:'localhost:8080/menuAction/find4tree',
            dataType:'json',
            success:function(list){
                var setting = {
                    data: {
                        simpleData: {
                            enable: true
                        }
                    },check:{enable:true}
                };
                $.fn.zTree.init($("#treeDiv"),setting,list);
                var tree=$.fn.zTree.getZTreeObj("treeDiv");
                tree.expandAll(true);
            }
        });
    });

</script>
</body>

</html>