<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
 <h1>templates下面</h1>
 <h1 th:text="${msg}">默认是刁德一。</h1>
 <table>
     <thead>
     <tr>
       <th>index</th>
       <th>学生ID</th>
       <th>学生姓名</th>
     </tr>
     </thead>
     <tbody>
     <tr th:each="students:${students}">
         <td th:text="students"></td>
         <td th:text="${students.id}"></td>
         <td th:text="${students.name}"></td>
     </tr>
     </tbody>
 </table>

</body>
</html>