<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
<form action="/userAction/findAll"  method="post">
    <span>用户名：</span><input type="text" name="username" value="${username }"/>
    <span>密码：</span><input type="password" name="password" value="${password }"/>

    <input type="submit"  style="height:25px;width:237px" value="登录" />
</form>

<a href="/register.jsp">注册页面</a>
<p align="center"><strong>${request.error}</strong></p>
</body>
</html>