<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body target="main">
<dl class='bitm'>
    <dt onClick='showHide("items1_1")'> <b>合同列表</b></dt>
    <dd style=""  class='sitem' id=''>
        <ul class='sitemt??'>
            <li><a href='jsp/baoxiao/add.jsp' target='main'>代账合同</a></li>
            <li><a href='baoxiaoAction!findMyTask.action' target='main'>地址合同</a></li>
            <li><a href='http://localhost:8080/gongshanghetong' target='main'>工商合同</a></li>
            <li><a href='baoxiaoAction!findMyBaoxiao.action' target='main'>专项合同</a></li>
            <li><a href='baoxiaoAction!findMyCandidate.action' target='main'>网络合同</a></li>
            <li><a href='baoxiaoAction!findMyCandidate.action' target='main'>商标合同</a></li>
        </ul>
    </dd>
</dl>
<dl class='bitm'>
    <dt onClick='showHide("items1_1")'> <b>订单列表</b></dt>
    <dd style=""  class='sitem' id=''>
        <ul class='sitemt??'>
            <li><a href='jsp/baoxiao/add.jsp' target='main'>代账订单</a></li>
            <li><a href='baoxiaoAction!findMyTask.action' target='main'>地址订单</a></li>
            <li><a href='baoxiaoAction!findMyBaoxiao.action' target='main'>工商订单</a></li>
            <li><a href='baoxiaoAction!findMyBaoxiao.action' target='main'>专项订单</a></li>
            <li><a href='baoxiaoAction!findMyCandidate.action' target='main'>网络订单</a></li>
            <li><a href='baoxiaoAction!findMyCandidate.action' target='main'>商标订单</a></li>
            <li><a href='baoxiaoAction!findMyBaoxiao.action' target='main'>培训订单</a></li>
            <li><a href='baoxiaoAction!findMyBaoxiao.action' target='main'>产品订单</a></li>
        </ul>
    </dd>
</dl>
<dl class='bitm'>
    <dt onClick='showHide("items1_1")'> <b>服务管理</b></dt>
    <dd style=""  class='sitem' id='items1_1'>
        <ul class='sitemt??'>
            <li><a href='jsp/baoxiao/add.jsp' target='main'>创建服务</a></li>
            <li><a href='baoxiaoAction!findMyTask.action' target='main'>代办事宜</a></li>
            <li><a href='baoxiaoAction!findMyBaoxiao.action' target='main'>我的服务</a></li>
        </ul>
    </dd>
</dl>
</body>
</html>