<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
<h1>templates下面</h1>
<table border="1">
    <tr>
        <td>角色名称</td>
        <td>角色描述url</td>
        <td>角色优先级</td>
        <td>操作</td>
    </tr>


        <tr th:each="a:${a}">
            <td th:text="${a.name}"></td>
<!--            <td th:text="${a.des}"></td>-->
<!--            <td th:text="${a.priority}"></td>
<td><a href="jsp/menu/grant.jsp?roleId=<s:property value="#item.id"/>">菜单授权</a></td>  可能“${a.id}”
-->
            <td><a th:href="@{/roleAction/redirect/grt02(roleId=${a.id})}">菜单授权</a></td>
        </tr>
</table>
</body>
</html>